@import "variables.less";

@paragraph-margin: 30px;

.post {
	padding: 25px 0 0 0;
}

.postcontent {
	font-size: 18px;
	color: black;

	p {
		margin-bottom: @paragraph-margin;
	}

	p + pre {
		margin-top: (-1 * @paragraph-margin + 10px);
	}

	pre {
		margin-bottom: @paragraph-margin;
		border-radius: 0px;
		border: none;
		padding: 0px;
		font-size: 16px;
		letter-spacing: normal;
		tab-size: 2;
	}

	blockquote {
		margin-left: 40px;
		border-left: 5px solid @rawr-blue;
	}

	h1,h2,h3,h4,h5,h6 {
		color: @rawr-blue;
	}

	img {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	ul,ol {
		// Derived from visual inspection.
		margin-left: 58px;
	}

	.img-container {
		text-align: center;
	}

	.img {
		display: inline-flex;
		flex-flow: column nowrap;
	}

	img {
		flex: 0 0 auto;
		display: block;
	}

	.img > div {
		flex: 0 0 auto;
		display: flex;
		flex-flow: row wrap;
	}

	.img p {
		flex: 1 1 0px;
		width: 0;
		text-align: center;
	}

	.caption {
		text-align: center;
		font-size: 12px;
		color: #777;
	}

	a {
		text-decoration: underline;
	}

	hr {
		border-top: 1px solid @rawr-light-blue;
	}

	table {
		margin-left: 40px;
		margin-bottom: 1em;
	}

	thead {
		border-bottom: 1px solid @rawr-dark-blue;
	}

	td,th {
		padding: 0 30px 0 0;
	}
}
